---
import HeroSection from './home/HeroSection.astro';
import StatsSection from './home/StatsSection.astro';
import FeaturesSection from './home/FeaturesSection.astro';
import PricingSection from './home/PricingSection.astro';
import EcosystemSection from './home/EcosystemSection.astro';
---

<main class="home-page">
  <HeroSection />
  <StatsSection />
  <FeaturesSection />
  <PricingSection />
  <EcosystemSection />
</main>

<style>
  .home-page {
    width: 100%;
  }
</style>
