---
import HeroSection from './home/HeroSection.astro';
import StatsSection from './home/StatsSection.astro';
import FeaturesSection from './home/FeaturesSection.astro';
import CodeSection from './home/CodeSection.astro';
import PricingSection from './home/PricingSection.astro';
import ContributorsSection from './home/ContributorsSection.astro';
import EcosystemSection from './home/EcosystemSection.astro';
import UsersSection from './home/UsersSection.astro';
---

<main class="home-page">
  <HeroSection />
  <StatsSection />
  <FeaturesSection />
  <CodeSection />
  <PricingSection />
  <ContributorsSection />
  <EcosystemSection />
  <UsersSection />
</main>

<style>
  .home-page {
    width: 100%;
  }
</style>